* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}


/* utility */

.flex {
    display: flex;
}

.j-center {
    justify-content: center;
}

.column {
    flex-direction: column;
}

.j-between {
    justify-content: space-between;
}


/* header */


/* navbar */

nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;

}

#dropbox {
    padding-left: 20px;
}

#cliente {
    padding-right: 20px;
}

.navbar {
    height: 80px;
    display: flex;
    align-items: center;
    line-height: 80px;
}

img {
    height: 25px;
}

#dropbox img,
span {
    margin-right: 40px;
}

#cliente {
    justify-content: right;
}

#cliente span,
#inizia {
    margin-right: 0;
    margin-left: 40px;
}

#inizia {
    padding: 10px 20px;
    background-color: #0061FF;
    border: 0;
    color: white;
}

/* jumbotron */

.b-blue {
    margin-top: 80px;
    height: 750px;
    background-color: #B4D0E7;
}

.j-content {
    width: 1200px;
}

#titolo {
    margin: 75px 0 50px;
}

h1 {
    font-size: 70px;
    font-weight: 800;
}

.j-conteiner {
    height: 410px;
}

.paragrafo {
    width: 350px;
    height: 280px;
    line-height: 25px;
}

#jumbo {
    height: 500px;
}

#prova {
    width: 220px;
    padding: 15px 0;
    font-size: 16px;
    background-color: #0061FF;
    color: white;
    border: 0;
}

i {
    font-size: 50px;
}