* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}


/* utility */

.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.j-center {
    justify-content: center;
}

.column {
    flex-direction: column;
}

.j-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.align-baseline {
    align-items: baseline;
}


.margin-p {
    margin-bottom: 20px;
}

.margin-m {
    margin-bottom: 30px;
}

.margin-g {
    margin-bottom: 40px;
}

.margin-100 {
    margin-bottom: 100px;
}

.margin-150 {
    margin-bottom: 150px;
}


/* header */


/* navbar */

nav {
    position: fixed;
    display: flex;
    justify-content: space-between;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    box-shadow: 0 1px 3px #dedede;

}

#dropbox {
    padding-left: 20px;
}

#cliente {
    padding-right: 20px;
}

.navbar {
    height: 80px;
    display: flex;
    align-items: center;
    line-height: 80px;
}

.c-l-nav {
    width: 550px;
}

.c-2-nav {
    width: 500px;
}


img {
    height: 25px;
}

header a {
    color: black;
}

header a:hover {
    border-bottom: 1px solid #000000;
    cursor: pointer;
}


#inizia {
    padding: 10px 20px;
    background-color: #0061FF;
    border: 0;
    color: white;
}

#inizia:hover {
    background-color: #009dff;
    cursor: pointer;
}


/* jumbotron */

.b-blue {
    margin-top: 80px;
    margin-bottom: 150px;
    height: 750px;
    background-color: #B4D0E7;
}

.j-content {
    width: 1175px;
}

#titolo {
    margin: 75px 0 50px;
}

h1 {
    font-size: 70px;
    font-weight: 800;
}

.j-conteiner {
    height: 410px;
}

.paragrafo {
    width: 350px;
    height: 280px;
    line-height: 23px;
}

#jumbo {
    height: 500px;
}

.prova {
    width: 220px;
    padding: 15px 0;
    font-size: 16px;
    background-color: #0061FF;
    color: white;
    border: 0;
}

.prova:hover {
    background-color: #009dff;
    cursor: pointer;
}

.fa-arrow-down {
    font-size: 50px;
}

/* main */

/* prima section */

/* colonne */


section {
    width: 55%;
}

h2 {
    font-size: 40px;
    margin-bottom: 65px;
}

.cerchio {
    height: 20px;
    width: 20px;
    border: #D6D6D8 solid 2px;
    border-radius: 50%;
    background-color: white;
    display: inline block;
    margin: 0 5px 0;
}

#c-blue {
    border: #0061FF solid 5px;
}

.fatturazione {
    align-items: center;
    margin: 0 30px 30px 0;
}

.colonna {
    width: calc(100% / 3 - 30px);
    height: 1030px;
    border: #D6D6D8 solid 1px;
    line-height: 20px;
    margin-bottom: 40px;
}

.casella-piccola {
    width: 100%;
    height: 40px;
    border-bottom: #D6D6D8 solid 1px;
    text-align: center;
    line-height: 40px;
}

.casella-grossa {
    padding: 40px 30px;
}

h3 {
    font-size: 26px;
}

#prezzo {
    margin-bottom: 15px;
}

#mese {
    color: #8B8B8B;
}

i {
    margin: 5px;
}

.fa-share-nodes {
    margin-bottom: 65px;
}

a {
    color: #0000EE;
}

.prova-colonna {
    width: 100%;
    padding: 15px 0;
    font-size: 16px;
    background-color: #0061FF;
    color: white;
    border: 0;
}

.prova-colonna:hover {
    background-color: #009dff;
    cursor: pointer;
}


hr {
    width: 60px;
}

ul {
    list-style: none;
}

.fa-check {
    color: #0061FF;
}

/* tabella team */

.team {
    width: 55%;
    height: 270px;
    border: #D6D6D8 solid 1px;
    line-height: 20px;
}

.casella-team {
    padding: 40px 30px 20px;
    height: 230px;
}

.button-team {
    width: 210px;
    padding: 15px 0;
    margin-top: -10px;
    font-size: 16px;
    background-color: #0061FF;
    color: white;
    border: 0;
    align-self: flex-end;
}

.button-team:hover {
    background-color: #009dff;
    cursor: pointer;
}

.p-team {
    width: 700px;

}


/* seconda section */

#partner {
    height: 500px;
}

#c-2 {
    padding: 50px;
}


#p-2 {
    line-height: 20px;
    margin-bottom: 30px;
}

#b-2 {
    padding: 10px 10px;
    font-size: 16px;
    background-color: white;
    border: 1px solid;
}

#b-2:hover {
    cursor: pointer;
    color: gray;
    border-color: gray;
}

/* terza section */

.c-3 {
    width: calc(100% / 3 - 30px);
    margin-bottom: 40px;
}

.i-3 {
    height: 215px;
}

.p-3 {
    line-height: 20px;
}

/* quarta section */

#h-4 {
    width: 700px;
}

.q-g {
    width: calc(100vw / 3);
    height: calc(100vw / 3);
    background-color: #F5F5F5;
}

.q-p {
    width: calc(100% / 2);
    height: calc(100% / 2);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* colori */

.verde {
    background-color: #A2D39B;
}

.verde:hover {
    border: #D1E9CD 15px solid;
}

.rosso-c {
    background-color: #FF1C1C;
}

.rosso-c:hover {
    border: #fc5959 15px solid;
}

.rosso-m {
    background-color: #D5001F;
}

.rosso-m:hover {
    border: #da455b 15px solid;
}

.rosso-s {
    background-color: #61082B;
}

.rosso-s:hover {
    border: #632840 15px solid;
}

.blu-c {
    background-color: #B4D0E7;
}

.blu-c:hover {
    border: #b9e0fc 15px solid;
}

.blu-m {
    background-color: #0093CE;
}

.blu-m:hover {
    border: #44aad3 15px solid;
}

.blu-s {
    background-color: #0D2481;
}

.blu-s:hover {
    border: #314286 15px solid;
}

.giallo {
    background-color: #FFD830;
}

.giallo:hover {
    border: #fae37f 15px solid;
}

/* immagini quadrati */

#img-1 {
    height: 50px;
}

#img-2 {
    height: 120px;
}

#img-3 {
    height: 30px;
}

#img-4 {
    height: 75px;
}

#img-5 {
    height: 50px;
}

#img-6 {
    height: 20px;
}

#img-7 {
    height: 80px;
}

#img-8 {
    height: 110px;
}

.q-p img {
    filter: invert(1);
}

/* quadrato centrale */

#q-c {
    padding: 50px;
    font-size: 17px;
    line-height: 20px;
}

#img-c {
    height: 90px;
    margin-bottom: 40px;
}

#hr-c {
    width: 110px;
    margin-bottom: 40px;
}

/* quinta section */

#bg-5 {
    height: 350px;
    width: 100%;
    background-color: #B4D0E7;
}

#c-5 {
    width: 55%;
}

#h-5 {
    color: #61082B;
    width: 500px;
}

#b-5 {
    padding: 10px 50px;
    font-size: 16px;
    background-color: white;
    border: none;
}

#b-5:hover {
    cursor: pointer;
    color: gray;
}


/* sesta section */

#hr-6 {
    width: 100%;
    margin: 40px 0;
}

.fa-angle-down {
    position: absolute;
    right: 30px;
}

#domanda {
    position: relative;
}



#risposta {
    display: none;
    height: 50px;
    width: 100%;
    background-color: white;
    margin-top: 40px;
}

#domanda:hover #risposta {
    display: block
}

#domanda:hover .fa-angle-down {
    transform: rotate(180deg);
}


/* footer */

footer {
    width: 100%;
    background-color: #000000;
    color: white;
}

#c-f {
    width: 65%;
    margin-top: 100px;
}

#c-p-f {
    width: 65%;
    height: 100px;
    color: #999999;
}

#h-f {
    margin-bottom: 30px;
}

#li-f {
    margin-bottom: 15px;
}

#hr-f {
    color: #E6E6E6;
    width: 120px;
}